
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M4.5 0l-4 4 4 4 .5-.5-3.5-3.5 3.5-3.5-.5-.5z"/%3E%3C/svg%3E'); 
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M3.5 0l4 4-4 4-.5-.5 3.5-3.5-3.5-3.5.5-.5z"/%3E%3C/svg%3E');
}
